:root{
  --blue: #193a52;
  --grey: #e8eeee;
  --green: #92c23c;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--blue);
    color: var(--green);
    position: relative;
    padding: 10px;
}

#logoTitle{
  display: flex;
}

#logoTitle #logo {
  margin-top: 10px;
  margin-left: 10px;
  height: 60px;
  width: 60px;
}

header h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 51.5px;
  padding: 10px;
  padding-left: 20px;
}

header #timeWeather {
    color: white;
    position: absolute;
    right: 32.75px;
    top: 32.75px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;

}


#motivation{
    background-color: var(--grey);
    padding: 20px;
    padding-bottom: 0;
    height: auto;
    margin-bottom: 25px;
    color: var(--blue);
    font-size: 20px;
    line-height: 150%;
}

#author{
    text-align: right;
}

/*This is for the full page content*/

html{
    height: 100%;
    overflow: hidden;
}

body{
    height: 100%;
}

#organizer{
    display: flex;
    width: 100%;
    height: 100%;
}

/*This is for the aside*/

aside{
    flex:20%;
    color: var(--blue);
    background-color: var(--grey);
}

form{
    margin: 10px;
    margin-top: 20px;
}

select, input{
    background-color: #fff;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

#input-length, #input-length-minute {
    width: 49.1%;
}

#input-start-hour, #input-start-minute {
    width: 35%;
}

#input-start-ampm {
    width: 26%;
}

#inputButton{
    background-color: var(--green);
    color: white;
    width: 100%;
    margin: auto;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

/*This is for the main page*/

main{
    flex:80%;
    background-color: var(--grey);
    height: 100%;
}

#main-nav{
    display: flex;
    padding-bottom: 0px;
    background-color: var(--grey);
    padding-left: 10px;
}

#main-nav button{
    background-color: var(--blue);
    color: white;
    border: none;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 10px;
    flex: 1;
    cursor: pointer;
}

#main-nav #all {
  background-color: var(--green);
}

#main-nav #work {
  background-color: var(--blue);
}

#main-nav #school {
  background-color: var(--blue);
}

#main-nav #exercise {
  background-color: var(--blue);
}

#main-nav #social {
  background-color: var(--blue);
}

#main-nav #other {
  background-color: var(--blue);
}

/*This is for the activities*/

#workflow {
    height: 100%;
    background-color: #d9dddd;
    border-top-left-radius: 15px;
    padding: 20px;
    padding-top: 42.5px;
    display: flex;
    overflow: auto;
}

#timeline{
    height: 100%;
    flex: 1;
    list-style-type: none;
    font-size: 20px;
}

#timeline li {
    color: var(--blue);
    padding-left: 30px;
    padding-bottom: 97.5px;
    text-align: right;
}

#timeslots{
    height: 100%;
    background: none;
    border-top-left-radius: 15px;
    padding: 20px;
    padding-left: 0px;
    padding-top: 0px;
    flex: 15;
}

.activity {
    color: white;
    background-color: var(--blue);
    border-radius: 5px;
    height: 100px;
    padding: 10px;
    margin: 20px;
    display: flex;
}

.title {
    flex: 6;
}

.title p {
    padding: 5px;
}

.edit {
    border: none;
    cursor: pointer;
    border-radius: 40px;
    background-color: var(--blue);
    width: 80px;
}

.edit img {
    height: 40px;
    width: 40px;
    color: white;
}

.container {
    display: block;
    position: relative;
    width:40px;
    height: 40px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0px;
  left: 0;
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 20px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    border-radius: 40px;
  background-color: white;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    border-radius: 40px;
  background-color: var(--blue);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 10px;
  top: -15px;
  width: 20px;
  height: 50px;
  border: solid var(--green);
  border-width: 0 6px 6px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/*This is for the calendar*/

ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/*This is for the months*/

.month {
  padding: 30px 25px;
  width: 100%;
  background: var(--blue);
  text-align: center;
}

.month li, .month span {
    background-color: var(--blue);
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

/*This is for the weekdays*/

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #d9dddd;
  display: flex;
}

.weekdays li {
  display: inline-block;
  flex: 1;
  color: #666;
  background: none;
  height: 100%;
  text-align: center;
}

/*This is for the days*/

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  background: none;
  width: 13%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

.days li .active {
  padding: 5px;
  background: var(--blue);
  color: white !important
}